title=About
date=2017-02-10
type=page
status=published
~~~~~~

This website is a demo of how to build and deploy JBake project on GitLab Pages.<br>
The source code can be found at <a target="_blank" href="https://gitlab.com/pages/jbake">https://gitlab.com/pages/jbake</a>.<br>
For how to build and deploy JBake project on GitLab Pages, read <code>README.md</code> in the source code.<br>
For more information about JBake, go to <a target="_blank" href="http://jbake.org">http://jbake.org</a>.<br>
For more information about GitLab Pages, go to <a target="_blank" href="https://pages.gitlab.io">https://pages.gitlab.io</a>.<br>